<section>
  <div class="container mx-auto my-5 lg:w-[60%]">
    <div class="toasts relative top-10 z-10">
      @if (removedMessage!='') {
        <div id="toast-success" class="absolute -end-3 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow-md" role="alert">
          <div class="inline-flex items-center justify-center shrink-0 w-6 h-6 text-green-500 bg-green-100 rounded-lg">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
              </svg>
              <span class="sr-only">Check icon</span>
          </div>
          <div class="ms-3 text-sm font-normal">Product is removed {{removedMessage}}fully</div>
        </div>
      }@else if(errorMessage!='') {
        <div id="toast-danger" class="absolute -end-12 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow-md" role="alert">
          <div class="inline-flex items-center justify-center shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg">
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
              </svg>
              <span class="sr-only">Error icon</span>
          </div>
          <div class="ms-3 text-sm font-normal">{{errorMessage}}</div>
        </div>
      }
    </div>
    <div class="wishlist bg-white">
      <div class="head text-center border-b mt-5">
        <h2 class="font-bold my-3 text-2xl">Your shopping wishlist</h2>
      </div>
      <div class="body mb-5 p-3 mx-auto">
        @if (wishCount === 0) {
          <p class="text-center">There is no products added in your wishlist</p>
        }
        @for (product of wishListDetails.data; track $index) {
          <div class="product lg:w-[90%] mx-auto bg-blue-600 rounded-2xl my-3 p-2 flex justify-center items-center">
            <div class="img w-[45%]">
              <img [src]="product.imageCover" class="md:w-52 lg:h-60 p-3 mx-auto rounded-3xl" alt="product image">
            </div>
            <div class="content w-[55%] text-white">
              <h3 class="font-semibold text-xl cursor-pointer"> <a [routerLink]="['/product-details', product.id]" target="_blank" class="hover:text-slate-900"> {{product.title}} </a> </h3>
              <p> Brand: <a [routerLink]="['/brands']" target="_blank" class="hover:text-slate-900 hover:underline"> {{product.brand.name}} </a> </p>
              <p> Category: <a [routerLink]="['/categories']" target="_blank" class="hover:text-slate-900 hover:underline"> {{product.category.name}} </a> </p>
              <div class="ratings">
                @if (product.ratingsAverage> 4.5) {
                  <div class="rating">
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-white"> ({{product.ratingsAverage}}) </span>
                  </div>
                }@else if (product.ratingsAverage> 4) {
                  <div class="rating">
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star-half-stroke"></i></span>
                    <span class="text-sm font-thin hover:underline text-white"> ({{product.ratingsAverage}}) </span>
                  </div>
                }@else if (product.ratingsAverage >= 3) {
                  <div class="rating">
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-regular fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-regular fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-white"> ({{product.ratingsAverage}}) </span>
                  </div>
                }@else {
                  <div class="rating">
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-regular fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-regular fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-regular fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-white"> ({{product.ratingsAverage}}) </span>
                  </div>
                }
              </div>
              <p> {{product.price | currency:'EGP '}} </p>
              <div class="btns my-2">
                <button type="button" (click)="removeProduct(product.id)" class="bg-red-800 text-white p-2 rounded-2xl"> <i class="fa-regular fa-trash-can mx-1"></i> Remove </button>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>