<header class="container mx-auto">
  <section class="products mt-2 mb-5">
    <!-- <div class="search">
      <input [(ngModel)]="searchTerm" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[30%] mx-auto p-2.5"/>
    </div> -->
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-3 p-5">
      @for (product of productList; track $index) {
        <a [routerLink]="['/product-details', product.id]">  
          <div class="w-full h-74 bg-white border border-gray-200 shadow-md hover:scale-105 transition-all duration-500">
            <div class="card-img">
                <img class="w-full h-60" src="{{product.imageCover}}" alt="product image"/>
            </div>
            <div class="card-body px-5 pb-5">
              <a class="title cursor-pointer">
                @if (product.title.length>15) {
                  <h5 class="text-lg hover:underline font-semibold tracking-tight text-gray-900">{{product.title.slice(0,15)}}...</h5>
                }@else {
                  <h5 class="text-lg hover:underline font-semibold tracking-tight text-gray-900">{{product.title}}</h5>
                }
              </a>
              <div class="desc">
                <span class="text-lg font-thin hover:underline text-gray-900">{{product.description.slice(0,20)}}..</span>
              </div>
              <div class="ratings">
                @if (product.ratingsAverage> 4.5) {
                  <div class="rating">
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-gray-900"> ({{product.ratingsAverage}}) </span>
                  </div>
                }@else if (product.ratingsAverage> 4) {
                  <div class="rating">
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star-half-stroke"></i></span>
                    <span class="text-sm font-thin hover:underline text-gray-900"> ({{product.ratingsAverage}}) </span>
                  </div>
                }@else if (product.ratingsAverage >= 3) {
                  <div class="rating">
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-regular fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-regular fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-gray-900"> ({{product.ratingsAverage}}) </span>
                  </div>
                }@else {
                  <div class="rating">
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-solid fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-regular fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-regular fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-yellow-500"><i class="fa-regular fa-star"></i></span>
                    <span class="text-sm font-thin hover:underline text-gray-900"> ({{product.ratingsAverage}}) </span>
                  </div>
                }
              </div>
              <div class="price">
                <span class="text-lg font-thin hover:underline text-gray-900">{{product.price | currency:'EGP' }}</span>
              </div>
            </div>
          </div>
        </a>
      }
    </div>
  </section>
</header>